{
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "trailingComma": "es5"
  }